<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
	<ul class="list-group">
		<li class="list-group-item" ng-show="noApps()"><strong>No
				applications yet</strong><br></li>
		<li class="list-group-item" ng-repeat="app in apps">
			<form class="form-inline" name="form{{app._id}}" ng-submit="save(app)" novalidate>
				<div class="form-group"
					ng-class="{ 'has-success': form{{app._id}}.name.$valid && submitted,
				                                            'has-error': form{{app._id}}.name.$invalid && submitted }">
					<input ng-readonly="!editing(app)" type="text" name="name{{app._id}}" class="form-control"
						ng-model="app.name" required />
				</div>			
				<button class="btn btn-default" ng-show="editing(app)" type="submit">
					Save</button>
				<a class="btn btn-default" ng-show="editing(app)" ng-click="cancelEditing(app)">
					Cancel</a>
			</form>
			<strong>APP ID:</strong> <span class="text-muted">{{app._id}}</span><br>
			<strong>API KEY:</strong> <span class="text-muted">{{app.apikey}}</span>
			<span ng-show="isAdmin()"><br>
				<strong>User ID:</strong> <span ng-repeat="user in app.user" class="text-muted">
					<a href="/user/{{user}}">{{user}}</a>
				</span>
			</span>
			<a
			ng-click="delete(app)" class="trash"><span
				class="glyphicon glyphicon-trash pull-right"></span></a><a 
			 ng-click="edit(app)" class="show"><span
				class="glyphicon glyphicon glyphicon-pencil pull-right"></span></a></li>
	</ul>
	<a class="btn btn-default btn-lg btn-register" href="/externalapp/new">
		Register App </a>
</div>